.general {
  border: 1px solid brown;
  margin: 2px;
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.image {
  width: 100px;
  height: 100px;
}

.page-no {
  border: 1px solid black;
  padding: 4px;
  margin: 3px;
}

.currPage {
  background-color: green;
}
